#comment.comment
	//- Wrapers for contact info
	.comment__wrap
		.comment__title
			.comment__name Самуил
			.comment__date 13 октября 2011

		.comment__text 
			| Привет, Верунь! ниче себе ты крутая. фотка класс!!!! 

	//- Wrapers for contact info
	.comment__wrap
		.comment__title
			.comment__name  Лилия Семёновна
			.comment__date 14 октября 2011

		.comment__text 
			| Вероника, здравствуйте!
			| Есть такой вопрос: Особый вид куниц жизненно стабилизирует кинетический момент,
			| это и есть всемирно известный центр огранки алмазов и торговли бриллиантами?

	//- Wrapers for contact info
	.comment__wrap
		.comment__title
			.comment__name Лилия Семёновна
			.comment__date 14 октября 2011

		.comment__text
			| Вероника, здравствуйте! Есть такой вопрос: 
			| Особый вид куниц жизненно стабилизирует кинетический момент?