.reviews

	.reviews__info
		//- Wrapers for block info
		.reviews__info__wrap
			.reviews__info__latest Последние отзывы
			a.reviews__info__all(href="#") Все отзывы

		.reviews__info__wrap
			a(href="#like").reviews__info__icon.reviews__info__icon--like 131
			a(href="#comment").reviews__info__icon.reviews__info__icon--comment 14

	include ./comment