.services
	.services__wrap__title
		.services__title Услуг
	.services__table
		//- Services table
		.services__wrap__items
			.services__item
				.services__item__wrap__name
					.services__item__name.services__item__name--green Ручное бронирование
				.services__item__quantity 11

			.services__item
				.services__item__wrap__name
					.services__item__name.services__item__name--blue Пакетные туры
				.services__item__quantity 3

			.services__item
				.services__item__wrap__name
					.services__item__name.services__item__name--blue Отели
				.services__item__quantity 1
	//- Total 
	.services__total
		.services__total__name Всего
		.services__total__quantity 15