.user.clearfix
	img(src="./images/logo.jpg" alt="logo").user__image
	.user__info

		.user__title
			.user__name Вероника Ростова
			.user__profession Менеджер по продажам
		.user__offer 
			| Подберу для вас самые лучшие предложения.
			| Мои услуги абсолютно бесплатны

		include ./services